:root{
    --blue: #007bff;
    --white: #fff; 
    --black: #000;
    --pink: #e9204f;
    --aqua: #00ffff;
    --chocolate: #d2691e;
    --dodgerblue: #1e90ff;
    --purple: #800080;
    --yellow: #ff0;
    --green: #008000;
    --red: #ff0000;
    --gold: #ffd700;
    --gray: rgba(26, 26, 21, 0.87);
    --darkgreen: #006400;
    --crimson:#dc143c;
    --coral:#ff7f50;
    --orchid:#da70d6;
    --olive:#808000;
}
header{
    width: 100%;
    background: var(--blue);
    padding: 5px 0;
}
nav{
    width:100%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem, 1.5rem
}
.nav-ul{
    display: flex;
    color: var(--yellow);
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    list-style: none;
}
.nav-ul li a{
    display: inline-block;
    font-size: 1.5rem;
    font-weight:600; 
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 0;
    margin-right: 4rem;
    color: var(--yellow);
    word-spacing: 1fr;
}
.nav-link,.current{
    position: relative;
}
.nav-link::before.current{
    position: absolute;
    content: "";
    left: 0;
    bottom: -3px;
    height: 2px;
    width: 50%;
    background-color: var(--green);
    transform: scaleX(6);
    transform-origin: left;
    transition: transform 0.6s;
}
.current::before{
    transform: scaleX(1);
}
.nav-link:hover::before{
    transform: scaleX(1);
}
body{
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, helvetica; */
    /* background-image: linear-gradient(to right, #007bff, #d2691e, #800080, #ff0000); */
    background-repeat: no-repeat;
    background-image: url(Pictures/1665940479228.jpg);
    background-size: 100%;
}
h1, p{
    margin-left: 30px;
}
h2{
    margin-left: 100px;
    color: #fff;
}
form{
    border: #000 solid;
    border: 50%;
    width: 25%;
    background-color: #00ffff;
    color: #fff;
}
.form{
    margin-left: 500px;
    border: #fff solid;
    border: 50%;
    border-radius: 3%;
    width: 25%;
    background-color: #00ffff;
    color: #fff;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
p{
    margin-left: 5px;
}
h3{
    margin-top: 1px;
    color:#fff;
}
button{
    margin-left: 5px;
}