/*MEDIA QUERY FOR DEVICE BELOW 600PX*/
@media screen and (max-width: 600px){
  .nav-ul{
      width: 100%;
      flex-direction: column;
      display: none;
  }
  .nav-ul li{
    width: 100%;
    text-align: center;
    border: top 1px solid rgba(255, 255, 255, 0.4);
  }
    .nav-ul li :last-child {
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    } 
    .nav-ul li:hover{
        background-color: rgba(0, 0, 0, 0.1);
    } 
    .nav-link::before,.current{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .nav-ul .close{
        display: block;
    }
    .show{
        display: flex;
    }
    .hide{
        display:  none;
    }
    .search{
        display: block;
    }
    .contact{
        flex-direction: column;
    }
}